<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Benutzerregistrierung</title>
</head>
<body>
    <h1>Benutzerregistrierung</h1>
    <form action="{{ url_for('admin.add_user') }}" method="post">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="firstname">Vorname:</label>
        <input type="text" id="firstname" name="firstname" required><br>

        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="phone">Telefon:</label>
        <input type="text" id="phone" name="phone" required><br>

        <label for="iban">IBAN:</label>
        <input type="text" id="iban" name="iban" required><br>

        <label for="country">Land:</label>
        <input type="text" id="country" name="country" required><br>

        <label for="zip">PLZ:</label>
        <input type="text" id="zip" name="zip" required><br>

        <label for="city">Stadt:</label>
        <input type="text" id="city" name="city" required><br>

        <label for="street">Straße:</label>
        <input type="text" id="street" name="street" required><br>

        <label for="snumber">Hausnummer:</label>
        <input type="text" id="snumber" name="snumber" required><br>

        <label for="is_admin">Adminrolle:</label>
        <input type="checkbox" id="is_admin" name="is_admin"><br>

        <input type="submit" value="Registrieren">
    </form>
    <br>
    <a href="{{ url_for('admin.admin_dashboard') }}">
        <button>Zurück zum Dashboard</button>
    </a>
</body>
</html>